"*":
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
    ]
    telemetryConsent: "no"
  "linter-ui-default":
    panelHeight: 450
    showPanel: true
  nuclide:
    "atom-ide-diagnostics-ui": {}
    "nuclide-flow":
      canUseFlowBin: true
    "nuclide-home":
      showHome: false
    use: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      trailingComma: "all"
  welcome:
    showOnStartup: false
